<div>
    <form>
        <label for="">A</label>
        <input type="text" id="a" value="${this.context.a}"/>
        <label for="">B</label>
        <input type="text" id="b" value="${this.context.b}"/>
        <label for="">C</label>
        <input type="text" id="c" value="${this.context.c}"/>
        <label for="">D</label>
        <input type="text" id="d" value="${this.context.d}"/>

        <a class="waves-effect waves-light btn" onclick="router('symptomes','update')">Update</a>
    </form>
</div>
